$background: #f2f1f0;
$dark-red: #772925;
$gray: #a9a9a8;
$green: #7a8542;
$dark-gray: #3e3e3e;
$light-gray: #eeeeee;

$desktop: 1200px;
$laptop: 1100px;
$tablets: 768px;
$phones: 480px;
$phones-small: 350px;