doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Unsubscribe Reasons List
    link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css')
    link(rel='stylesheet', href='./css/main.css')
  body
    .wrapper
        .content
            header.header
                .left
                    img(src="./images/logo.jpg", alt="logo").logo
                .center
                    .title Unsubscribe Reasons List
                .patient
                    .patient__text-wrapper
                        span.patient__text Patient: 
                        span.patient__text.patient__text--green.patient__text--bold Mr Taras Mozhar
                    div.patient__hamburger-wrapper
                        .patient__hamburger 
            section.main
                form.form
                    .form__row
                        .form__field
                            label(for="organization").form__label Organization:
                            div.form__select#organization.form__input.form__input--select
                                div#organization-wrapper.form__option-wrapper
                                    p.form__option.select-one .No Gaps Dental
                                    p.form__option.select-one Hart Dental
                                    p.form__option.select-one Russia Test
                                div#value.value
                        .form__field
                            label(for="surgery").form__label Surgery Name:
                            div.form__select#surgery.form__input.form__input--select
                                div#surgery-wrapper.form__option-wrapper
                                    p.form__option.select-two Dental test
                                    p.form__option.select-two Dental test2
                                    p.form__option.select-two Dental test3
                                div#value2.value2
                    .form__row
                        .form__field.form__field--100 
                            .form__wrapper-reason
                                .form__label Unsubscribe Reason
                                .form__sorting
                                    a(href="#").form__sorting-item.form__sorting-item--active
                                        i.fas.fa-long-arrow-alt-up
                                    a(href="#").form__sorting-item
                                        i.fas.fa-long-arrow-alt-down
                            .form__list
                                a(href="#").form__item wish
                                a(href="#").form__item I
                                a(href="#").form__item no
                                a(href="#").form__item.form__item--active longer
                    .form__row
                        a(href="#").button Add
                        a(href="#").button Delete
                        a(href="#").button Edit
                        a(
                            href="#"
                            disabled    
                        ).button Cancel

            footer.footer
                .footer__left
                    .footer__text Copyright © 2017 www.centaursoftware.com All rights reserved. Version: 18.311-release/0.8-e8a31ee/a383d00-obtest18_RC
                .footer__right
                    a.footer__link Usage
                    a.footer__link Privacy Policy
                    span.footer__text Powered by
                    image(src="./images/logo-footer.jpg").footer__image



    script(src='./libs/jquery-3.3.1.min.js')
    script(src='./js/app.min.js')